<div class="row">
  <div class="col-md-3">
    <%= render 'layouts/sidebar' %>
  </div>

  <div class="col-md-7 col-md-offset-1">
    <h2><%= @idea.title %></h2>
    <small class="block padding-b-custom">
      Posted by <%= link_to @idea.user.username, profile_path(@idea.user.username)  %>
      &nbsp;|&nbsp;
      <%= time_ago_in_words(@idea.created_at) %> ago
    </small>
    <hr>
    <article>
      <%= markdown(@idea.body) %>
    </article>

    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h3 class="text-primary">List of Comments
            <%= active_link_to("#", class: "btn btn-primary pull-right") do %>
              <%= icon('comment-o fa-fw') %>&nbsp;New Comment
            <% end %>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
